.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

#profile-img-navbar img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

#dropdownMenuButton {
    display: inline;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    .nav-container {
        padding: 0px;
        margin: 0px;
    }
}